html, body
{
    height : 100%;
}

html
{
    font-family : Arial, sans-serif;
    font-size   : 12px;
}

hr
{
    display       : block;
    border        : none;
    border-bottom : 1px solid #d1d1d1;
    margin        : 0;
    margin-bottom : 10px;
}

hr:before
{
    content    : '.';
    display    : block;
    margin     : 0;
    margin-top : 10px;
    width      : 45%;
    height     : 3px;
    background : #2579bf;
}

h1
{
    font-size : 30px;
    color     : #2579bf;
    margin    : 10px 0;
}

.main_container
{
    height     : auto;
    min-height : 100%;
}

.wrapper
{
    width    : 1120px;
    position : relative;
    margin   : 0 auto;
}

.header
{
    width      : 100%;
    height     : 292px;
    background : url('../images/debut_light.png');
}

.header_line
{
    width      : 100%;
    height     : 4px;
    background : #006889;
}

.header_image
{
    width      : 1120px;
    height     : 288px;
    background : url('../images/header.png') no-repeat bottom;
    position   : relative;
}

.motto
{
    font-size   : 24px;
    font-weight : Bold;
    color       : #006889;
    display     : block;
    position    : absolute;
    left        : 395px;
    top         : 40px;
}

.login_form
{
    position   : absolute;
    width      : 171px;
    max-height : 130px;
    right      : 88px;
    top        : 20px;
    padding    : 10px;
}

.login_form .title
{
    color         : #fff;
    text-align    : center;
    font-size     : 14px;
    margin-bottom : 10px;
}

.login_form input
{
    width         : 168px;
    border        : 1px solid #d1d1d1;
    border-radius : 3px;
    margin-bottom : 3px;
}

.login_form a
{
    color         : #fff;
    margin-bottom : 10px;
    display       : block;
}

.header_menu
{
    width      : 100%;
    height     : 60px;
    background : #2579bf;
}

.header_menu ul
{
    display : block;
}

.header_menu ul li
{
    display   : block;
    float     : left;
    color     : #fff;
    font-size : 16px;
    padding   : 15px 0;
}

.header_menu ul li:hover, .header_menu ul li.active
{
    background : #3c8fb8;
}

.header_menu ul li:last-child
{
    border-right : none;
}

.header_menu ul li a
{
    color           : #ffffff;
    text-decoration : none;
    border-right    : 1px solid #3c8fb8;
    padding         : 7px 10px;
    display         : block;
}

.content
{
    padding-bottom : 50px;
}

.footer
{
    margin-top : -50px;
    width      : 100%;
    color      : #ffffff;
    height     : 50px;
    background : #2579bf;
}

.copyright
{
    float      : right;
    margin-top : 19px;
}

.blog_element
{
    margin: 10px;
}

.blog_preview
{
    font-size: 12px;
}

.blog_image
{
    float: left;
    width: 150px;
    height: 150px;
}

.blog_image img
{
    width: 100%;
    height: 100%;
}

.blog_date
{
    color: #969696;
}

.blog_under
{
    clear: both;
    height: 25px;
    border-bottom: 1px solid #d1d1d1;
}

.blog_content
{
    padding: 10px 10px 10px 160px;
}

.blog_title
{
    font-size: 16px;
    text-decoration: underline;
    margin: 10px 0;
}
